<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-01-08T07:43:35Z</date>
	<key>WorkspacePath</key>
	<string>/Users/toyahiroki/WorkSpace/of_v0.11.0_osx_release/apps/myApps/myDeepSketch/myDeepSketch.xcodeproj</string>
</dict>
</plist>
